@charset "UTF-8";


main > div:nth-of-type(2) {
  background: url("../content/wallpaper001.jpg") center center repeat fixed;
  background-size: cover;
} div.quadrado {
  margin: 0em 1em;
  background-color: #f5f5f5;
  border-radius: 1em;
  display: inline-block;
  max-height: 80%;
  height: 18.5em;
  border: 0.1em solid #000000;
  max-width: 80%;
  width: 18.5em;
} div#q1 {
  background-color: #87ceeb;
} div#q2 {
  background-image: linear-gradient(180deg, #ffff00, #ff0000);
} div#q3 {
  background-image: url("../content/pattern001.png");
} main > div:nth-of-type(2) > div > p {
  color: #aa6ba3;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}