
@charset "UTF-8";










:root
{






    --size-icons: 3em;
    --size-max-wdith-content: 64em;

    --transition-time-01: 0.15s;







    --hover-color-01: #ffffff44;
    --hover-color-02: #ffffff22;
    --hover-color-03: #ffffff08;
    --default-color-grey-01: #606060;
    --default-color-grey-02: #60606060;
    --default-color-red-01: #f00000;
    --default-color-red-02: #f0000088;

    --color-darkest-black-01: #000000;
    --color-darkest-black-02: #000000f0;
    --color-darkest-black-03: #000000c0;
    --color-darkest-black-04: #00000080;
    --color-dark-black-01: #050505;
    --color-dark-black-02: #05050580;
    --color-dark-black-05: #05050528;
    --color-medium-black-01: #161616;
    --color-medium-black-02: #16161680;
    --color-medium-black-03: #16161660;
    --color-light-black-01: #222222;
    --color-light-black-02: #22222288;
    --color-light-black-03: #22222244;
    --color-darkest-grey-01: #282828;
    --color-dark-grey-01: #2f2f2f;
    --color-dark-grey-02: #2f2f2f80;
    --color-medium-grey-01: #484848;
    --color-medium-grey-02: #48484880;
    --color-medium-grey-03: #48484844;
    --color-light-grey-01: #b0b0b0;
    --color-light-grey-02: #b0b0b080;
    --color-light-white-01: #f0f0f0;
    --color-light-white-02: #f0f0f0a0;
    --color-lighter-white-01: #ffffff;
    --color-lighter-white-02: #ffffffd0;
    --color-lighter-white-03: #ffffffb0;


    --color-study-school-01: #ff8800;
    --color-study-school-02: #ff8800b0;
    --color-study-python-01: #ffcc00;
    --color-study-python-02: #ffcc00b0;
    --color-study-design-01: #8800bb;
    --color-study-design-02: #8800bbb0;
    --color-study-html-01: #4444ff;
    --color-study-html-02: #4444ffb0;
    --color-study-cyber-01: #ff7f50;
    --color-study-cyber-02: #ff7f50b0;
    --color-study-css-01: #ff00ff;
    --color-study-css-02: #ff00ffb0;
    --color-study-cpp-01: #00ffee;
    --color-study-cpp-02: #00ffeeb0;
    --color-study-art-01: #ff4400;
    --color-study-art-02: #ff4400b0;
    --color-study-cps-01: #ff5500;
    --color-study-cps-02: #ff5500b0;
    --color-study-js-01: #ffee40;
    --color-study-js-02: #ffee40b0;
    --color-study-math-01: #00ff80;
    --color-study-math-02: #00ff80b0;







    --lateral-dark-gradient-effect-01:
        linear-gradient(
        90deg ,
        #000000e0 ,
        transparent ,
        #000000e0
        );

    --bg-main-gradient-effect-01:
        linear-gradient(
        180deg,
        #0a0a0e 0em ,
        #0a0a0e 3em ,
        #070707 30vh ,
        #060606 35vh ,
        #050505 50vh
        );

    --bg-main-gradient-effect-02:
        linear-gradient(
        180deg,
        #0a0a0d 0em ,
        #070707 20vh ,
        #060606 40vh ,
        #050505 60vh
        );


    --container-study-elements-gradient-effect-01:
        linear-gradient(
        160deg ,
        #000000 00%,
        #000000dd 20%,
        #000000bb 40%,
        #00000088 60%,
        #00000044 80%,
        transparent
        );


    --container-study-elements-gradient-effect-02:
        linear-gradient(
        130deg ,
        #000000ee 00%,
        #000000aa 20%,
        #00000088 40%,
        #00000066 60%,
        #00000044 80%,
        transparent
        );


}










/* DEAULT GENERAL STYLE ______________________________________________________________________________________________________ */


    /* CSS Padrão Geral */
    *
    {
        padding: 0em; margin: 0em;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
    }

    body, html
    {
        margin: auto;
        overflow-x: hidden;
        background-color: var(--color-dark-black-01);
    }

    body *
    {
        color: var(--color-lighter-white-03);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: lighter;
    }








/* DEFAULT SCROLL ____________________________________________________________________________________________________________ */


    /* Scroll Space */
    .scroll::-webkit-scrollbar
    {
        background-color: var(--color-darkest-black-01); width: 0.5em;
    }

        /* Fundo Scroll */
    .scroll::-webkit-scrollbar-track
    {
        border-radius: 0.25em; border: 2px solid var(--color-darkest-black-01);
        margin: 0.25em 0em;
    }

    .scroll::-webkit-scrollbar-track:hover
    {
        background: var(--color-medium-black-01);
    }

        /* Mover Scroll */
    .scroll::-webkit-scrollbar-thumb
    {
        border: 1px solid var(--color-darkest-black-01); border-radius: 0.25em;
        background-color: var(--color-medium-black-01);
    }

    .scroll::-webkit-scrollbar-thumb:hover
    {
        background: var(--color-dark-grey-01);
    }













    /* MAIN -> COLOR SCHEME ______________________________________________________________________________________________________ */


    #art h1 { color: var(--color-study-art-02);}
    #design h1 { color: var(--color-study-design-02);}
    #html h1 { color: var(--color-study-html-02);}
    #css h1 { color: var(--color-study-css-02);}
    #js h1 { color: var(--color-study-js-02);}
    #python h1 { color: var(--color-study-python-02);}
    #cpp h1 { color: var(--color-study-cpp-02);}
    #school h1 { color: var(--color-study-school-02);}
    #cps h1 { color: var(--color-study-cps-02);}
    #ime-kana h1 { color: var(--color-study-kana-02);}
    #math h1 { color: var(--color-study-math-02);}
    #entertainment h1 { color: var(--color-study-art-02);}
    #cyber h1 { color: var(--color-study-cyber-02);}






/* MAIN -> PRESENTATION ______________________________________________________________________________________________________ */


    div.bg-dark
    {
        width: auto;
        max-width: 92.5%;
        margin: 1em auto;
        padding: 1em;
    }

    div.titu-section
    {
        margin-top: 3.5em;
    }

    div.titu-section *
    {
        border-bottom: 1.5px solid var(--color-light-grey-02);
        font-size: 1.6em;
        text-indent: 0.4em;
    }

    div#apres div
    , div#apres {  /* Apresentação */
    color: var(--color-light-grey-02);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    } div#apres {
    padding: 3em 1em;
    gap: 1em;
    } div#apres > div:nth-of-type(1) {
    width: 60%;
    } div#apres > div:nth-of-type(2) {
    padding: 0.5em;
    gap: 0.5em;
    } div#apres img {
    width: 100%;
    } div#apres h1 {
    line-height: 1.1em;
    font-weight: normal;
    }








/* MAIN -> STUDY CONTENT _________________________________________________________________________________________________ */


    div.study *
    {  /* Study */
        color: var(--color-light-white-02);
        transition-duration: var(--transition-time-01);
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }

    div.study h1
    {
        font-weight: bolder;
    }
    
    div.container-study-elements
    {
        position: relative;
        flex-direction: column;
        border-radius: 1em;
        box-shadow: 0em 0em 1.2em var(--color-medium-black-02);
        border-left: 1.5px solid var(--color-medium-black-03);
        border-right: 1.5px solid var(--color-medium-black-03);
    }
    
    div.container-study-elements div
    {
        width: 100%; height: 100%;
        position: relative;
    }
    
    div.container-study-elements > div:nth-of-type(1)
    {
        box-sizing: border-box;
        padding: 0.25em 1em;
        height: 3.5em;
        background-color: var(--color-darkest-black-03);
        border-bottom: 1px solid var(--color-medium-black-02);
    }
    
    div.container-study-elements > div:nth-of-type(2)
    {
        height: 16em;
    }
    
    div.container-study-elements > div:nth-of-type(2) > div
    {
        box-sizing: border-box;
        padding: 1.5em;
        position: absolute;
        bottom: 0em;
        background-image: var(--container-study-elements-gradient-effect-01);
        box-shadow: inset 0em 0em 3.5em var(--color-darkest-black-02);
    }
    
    div.container-study-elements img
    {
        position: absolute;
        width: 100%; height: 100%;
        object-fit: cover;
    }
    
    div.container-study-elements p
    {
        font-size: 1em;
    }
    
    div.container-study-elements a
    {
        background-color: var(--color-light-black-03);
        margin: 0.35em;
        font-size: 1.35em;
        padding: 0.2em 1em;
        border: 1.5px solid var(--color-dark-grey-02);
        border-radius: 0.6em;
        position: absolute;
        bottom: 0em; right: 0em;
    }
    
    div.container-study-elements a:hover
    {
        background-color: var(--color-light-black-02);
        box-shadow: inset 0em 0em 0.8em var(--color-darkest-black-01);
    }


    /*
    div.container-study-elements:hover img
    {
        animation: AnimateStudyIMG 2s normal linear;
        transition-duration: 2s;
    }
    */

    div.container-study-elements div:nth-of-type(1) a { display: none; }
    div.container-study-elements div:nth-of-type(2) a { display: block; }


    div.study.two div.container-study-elements div:nth-of-type(1) a { display: block; }
    div.study.two div.container-study-elements div:nth-of-type(2) a { display: none; }



    div.study.two
    {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    }
    
    div.study.two > *
    {
    width: 100%;
    }
    
    div.study.two > div > div:nth-of-type(2)
    {
    height: 10em;
    }