@charset "UTF-8";


main > div:nth-of-type(2) h2:nth-of-type(1) {
  margin-top: 0.5em;
} main > div:nth-of-type(2) img {
  width: 12em;
  border-radius: 50%;
  margin: 0em;
  border: 2px solid #000000;
} ul {
  display: flex;
  flex-direction: column;
  gap: 0.85em;
} a:hover {
  text-decoration: underline;
}


main > div:nth-of-type(2) > div {
  display: flex;
  align-items: center;
  gap: 1em;
} main > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
  gap: 1em;
} main > div:nth-of-type(2) > div:nth-of-type(2) {
  flex-direction: column;
  align-items: baseline;
  width: fit-content;
} main > div:nth-of-type(2) ul {
  list-style-type: none;
} main > div:nth-of-type(2) ul > li > a {
  font-weight: bolder;
}