@charset "UTF-8";


:root {


  --color_01-00: #000000;


  --telefone-img: url("../content/frame-iphone.png");
  --madeira-ba: url("../content/fundo-madeira.jpg");
}

/*____________________________________________________________________________________________________________________________________*/

* { margin: 0em; padding: 0em; font-family: Arial, Helvetica, sans-serif; }

html, body {

  height: 100vh;
  width: 100vw;
  background-color: #050505;
} body {
  background: var(--madeira-ba)
  no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

/*____________________________________________________________________________________________________________________________________*/

main {

  position: relative;
  height: 100vh;
}



section#telefone {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50% , -50% ); /* ←→ , ↕ */

  height: 628px; 
  width: 311px;

  background: var(--telefone-img)
  center center no-repeat;
}



iframe#tela {
  position: relative;
  top: 82px;
  left: 23.5px;
  height: 469px;
  width: 265.5px;
}


section#redes_sociais {

  text-align: right;
} section#redes_sociais img:hover {

  border: 0.1em solid #f5f5f5c5;
  transform: rotate(-10deg);
}
section#redes_sociais img {

  box-sizing: border-box;
  transition: transform 0.5s;
  width: 50px;
  margin: 10px;
  border-radius: 50%;
  box-shadow: 0em 0.1em 0.25em #00000065;
}