@charset "UTF-8";


main > div:nth-of-type(2) {
  background-color: rgb(204, 156, 249);
} main > div:nth-of-type(1) > h1 {
  background-color: blueviolet;
  border-radius: 1em;
  text-indent: 1em;
} p {
  text-align: justify;
}