
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


/* SMALL SCREENS */



:root
{

    --header-content-size: 3em;



    --hover-color-01: #ffffff08;
    --hover-color-02: #ffffff28;
    --default-color-grey-01: #606060;
    --default-color-grey-02: #60606060;
    --default-color-red-01: #f00000;
    --default-color-red-02: #f0000080;

    --color-darkest-black-01: #000000;
    --color-darkest-black-02: #000000f0;
    --color-darkest-black-03: #000000c0;
    --color-dark-black-01: #050505;
    --color-dark-black-02: #05050580;
    --color-lighter-white-01: #ffffff;
    --color-lighter-white-02: #ffffffd0;
    --color-light-grey-01: #b0b0b0;
    --color-light-grey-02: #b0b0b080;
    --color-medium-black-01: #161616;
    --color-medium-black-02: #16161680;
    --color-dark-grey-01: #2f2f2f;
    --color-dark-grey-02: #2f2f2f80;

    --study-color-01: #ff4400;
    --study-color-02: #ff440080;
    --study-color-03: #ff440022;



    --fonte-animatic: 'Amatic SC', cursive;
    --font-apple: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-angel: "Angel", sans-serif;
    --font-notes: 'Indie Flower', cursive;

}











/* MAIN _______________________________________________________________________________________________________________________*/


    div.book-section 
    {
        display: flex;
        flex-direction: row;
        padding: 2em;
        gap: 2em;
    }

    div.book-cover > *
    {
        height: 20em;
        box-shadow: 0em 0em 3em var(--color-darkest-black-01);
    }

    fieldset.language
    {
        display: flex;
        flex-direction:row ;
        align-items: center;
        justify-content: space-evenly;
        padding-right: 0.5em;
    }

    fieldset.genre
    {
        display: grid;
        grid-template-columns: repeat( 2 , 1fr );
        grid-template-rows: auto;
        padding: 1em;
    }
    fieldset.genre > div
    {
        background-color: var(--color-dark-grey-02);
        padding: 0.25em;
    }


    fieldset > legend
    {
        padding: 0em .8em;
    }

    fieldset > *
    {
        margin: 0.5em;
    }





    nav.normal-list *
    {
        list-style: circle;
    }
    nav.normal-list li
    {
        margin-left: 1.5em;
    }





    div.movies-list
    {
        display: flex;
        flex-direction: row;
        margin: 3em 0em 3em 2em;
        gap: 1em;
    }

    div.movies-list > div:nth-of-type(2)
    {
        border-left: 1px solid var(--color-dark-grey-01);
        padding-left: 1em;
        margin: 2em 0em;
    }

    div.movies-list img
    {
        height: 14em;
    } 








/* Footer _____________________________________________________________________________________________________________________*/

    footer
    {
        min-height: 8em;
        padding: 1em;
        background-color: var(--color-medium-black-02);
    }

    footer *
    {
        color: var(--color-lighter-white-02);
        font-family: var(--font-notes);
    }