@charset "UTF-8";


@media screen and (orientation: portrait) {

body {

  background: #233eff url("../content/cev-portrait.jpg") left bottom no-repeat;
  background-size: contain;
}
}


@media screen and (orientation: landscape) {

body {

  background: #233eff url("../content/cev-landscape.jpg") center bottom no-repeat;
  background-size: contain;
}
}
