@charset "UTF-8";

/* Media Queries */



@media print {

    main > div:nth-of-type(2) {
    
      /* background: url("../content/back-print.jpg");  desnecessário */
      font-family: 'Courier New', Courier, monospace;
    }
    
    img#tel, img#tbl, img#pc, img#tv {
    
      display: none;
    } img#imp { display: block; }

}



@media screen and (min-width: 768px) and (max-width: 992px) { /* Tablet */

main > div:nth-of-type(2) {

  background: url("../content/back-tablet.jpg");
  background-size: cover;
}

img#tel, img#imp, img#pc, img#tv {

  display: none;
} img#tbl { display: block; }
}



@media screen and (min-width: 992px) and (max-width: 1200px) { /* Desktop */

main > div:nth-of-type(2) {

  background: url("../content/back-pc.jpg");
  background-size: cover;
}

img#tel, img#imp, img#tbl, img#tv {

  display: none;
} img#pc { display: block; }
}



@media screen and (min-width: 1200px) { /* Telas Grandes */

main > div:nth-of-type(2) {

  background: url("../content/back-tv.jpg");
  background-size: cover;
}

img#tel, img#imp, img#pc, img#tbl {

  display: none;
} img#tv { display: block; }
    
}