@charset "UTF-8";



html {
  height: 100vh;
  width: 100vw;
}
main > div:nth-of-type(2) {

  background: #050505 url(../content/back-phone.jpg) center center no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;

}
img {

  margin: auto;
}
img#tbl, img#imp, img#pc, img#tv {

  display: none;
} img#tel { display: block; }