@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


/* TELAS PEQUENAS */



:root {

  --header-content-size: 4.25em;




  --hover-color-01: #ffffff08;
  --hover-color-02: #ffffff28;
  --default-color-grey-01: #606060;
  --default-color-grey-02: #60606060;
  --default-color-red-01: #f00000;
  --default-color-red-02: #f0000080;

  --color-darkest-black-01: #000000;
  --color-darkest-black-02: #000000f0;
  --color-darkest-black-03: #000000c0;
  --color-dark-black-01: #050505;
  --color-dark-black-02: #05050580;
  --color-medium-black-01: #161616;
  --color-medium-black-02: #16161680;
  --color-lighter-white-01: #ffffff;
  --color-lighter-white-02: #ffffffd0;
  --color-light-grey-01: #b0b0b0;
  --color-light-grey-02: #b0b0b080;
  --color-dark-grey-01: #2f2f2f;
  --color-dark-grey-02: #2f2f2f80;

  --study-color-01: #4444ff;
  --study-color-02: #4444ff88;
  --study-color-03: #4444ff44;




  --fonte-animatic: 'Amatic SC', cursive;
  --font-apple: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-angel: "Angel", sans-serif;

}


* {  /* CSS Padrão Geral */
  padding: 0em; margin: 0em;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
} body, html {
  background-color: var(--color-dark-black-01);
  width: 100vw; height: 100vh;
  margin: auto;
  perspective: 10px;
  overflow-x: hidden;
} body {
  position: relative;
} body * {
  color: var(--color-lighter-white-02);
}


.scroll::-webkit-scrollbar {  /* Scroll Space */
  background-color: var(--color-darkest-black-01); width: 0.5em;
} .scroll::-webkit-scrollbar-track {  /* Fundo Scroll */
  border-radius: 0.25em; border: 2px solid var(--color-darkest-black-01);
  margin: 0.75em 0em;
} .scroll::-webkit-scrollbar-track:hover {
  background: var(--color-medium-black-01);
} .scroll::-webkit-scrollbar-thumb {  /* Mover Scroll */
  border: 1px solid var(--color-darkest-black-01); border-radius: 0.25em;
  background-color: var(--color-medium-black-01);
} .scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-dark-grey-01);
}
















div#title {  /* Title and Back Button */
  margin-top: 2.5em;
} div.icon,
  div.icon * {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%; height: 100%;
  transition-duration: 0.15s;
} div.icon {
  margin-bottom: 1em;
  height: var(--header-content-size);
  width: var(--header-content-size);
  border-radius: 50%;
  border: 2px solid var(--color-medium-black-01);
} div.icon:hover > a ,  /* Hover */
div.icon:hover > div {
  width: 90%; height: 90%;
} div.icon:hover {
  background: var(--hover-color-01);
  box-shadow: 0em 0em 0.25em var(--hover-color-01);
 }







main { /* Main ------------------------------------------------------------------------------------------------------------------------- */
  padding: 0em 1em;
} main > * {
  max-width: 70em;
  margin: 1.5em auto;
} main > div:nth-of-type(2) {
  background-color: var(--color-lighter-white-01);
  border-radius: 0.75em;
  padding: 1em;
  border: 0.05em solid var(--color-dark-grey-01);
} main > div:nth-of-type(2) * {
  color: var(--color-darkest-black-01);
} main > div:nth-of-type(2) > * {
  margin: 1em;
} main > div:nth-of-type(2) > p {
  text-indent: 1.5em;
}



form > * {
  margin: 0.5em;
} fieldset ,
 fieldset * {
  padding: 0.25em;
}



footer {  /* Footer -------------------------------------------------------------------------------------------------------------------- */
  height: 8em;
  background-color: var(--color-medium-black-02);
}



.cont-img-size {
  border-radius: 0.5em;
  border: 0.1em solid var(--color-lighter-white-02);
  box-shadow: 0em 0em 0.75em var(--color-dark-grey-02);
  min-width: 0em;
  width: 32em;
  max-width: calc( 100% - 2em );
}