@charset "UTF-8";


main > div:nth-of-type(2) section:nth-of-type(1) {
  gap: 0.75em;
  margin: 0em;
  display: flex;
  flex-direction: column-reverse;
  align-items: baseline;
  justify-content: space-between;
} main > div:nth-of-type(2) section:nth-of-type(1) div {
  padding: 0.5em 0.75em;
  border-radius: 0.35em;
  gap: 0.5em;
  background-color: var(--color-medium-black-01);
} main > div:nth-of-type(2) section:nth-of-type(1) > div > * > * {
  font-size: 0.75em;
} main > div:nth-of-type(2) section:nth-of-type(1) > div > * {
  font-size: 1.6em;
  padding: 0.2em;
}


main > div:nth-of-type(2) section:nth-of-type(1) div {
  background-color: var(--color-medium-black-02);
}




@media screen and (min-width: 800px) {
    main > div:nth-of-type(2) section:nth-of-type(1) {
      flex-direction: row;
      align-items: center;
    }
}